<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PMERegressionSuite">
    <listeners>
        <listener class-name="com.dat.qa.Analyzer.MyTransformer"/>
    </listeners>
    <test name="RetryAnalyzerTest">
        <classes>
            <class name="com.dat.qa.testcases.HomePageTest"/>

        </classes>
    </test>
</suite>